.violetCascaderWrap {
  width: fit-content;
  position: relative;
  &__input {
    outline: none;
    box-sizing: border-box;
    padding: $input-padding-y $input-padding-x;
    padding-right: 1.6rem;
    font-size: $input-font-family;
    line-height: $input-line-height;
    background-color: $input-bg;
    color: $input-color;
    border: $input-border-width solid $input-border-color;
    box-shadow: $input-box-shadow;
    border-radius: $input-border-radius;
    transition: $input-transition;
    cursor: pointer;
    &::placeholder,
    &::-webkit-input-placeholder {
      color: $input-placeholder-color;
    }
    &--focus {
      background-color: $input-focus-bg;
      border: $input-border-width solid $input-focus-border-color;
      // 隐藏光标
      color: transparent;
      text-shadow: 0 0 0 $input-focus-color;
      box-shadow: $input-focus-box-shadow;
    }

    &--disabled {
      background-color: $input-disabled-bg;
      border-color: $input-disabled-border-color;
      cursor: not-allowed;
    }

    &--error {
      border-color: $danger;
    }

    &--success {
      border-color: $success;
    }
  }
  &__downIcon {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 1.6rem;
    text-align: center;
    line-height: $input-line-height;
    padding: $input-padding-y 0;
    box-sizing: border-box;
    cursor: pointer;
    color: $input-placeholder-color;
    &__icon {
      transition: transform 200ms ease-out;
      &--arrowUp {
        transform: rotate(180deg);
      }
      &--disabled {
        cursor: not-allowed;
      }
    }
  }
  &__optionsWrap {
    position: absolute;
    top: $cascader-optionsWrap-top;
    left: 0;
    display: flex;
    box-shadow: $cascader-optionsBox-shadow;
    border-radius: 0.35rem;
    overflow: hidden;
    height: $cascader-optionList-height;

    &__list {
      padding: 0;
      margin: 0;
      background: #fff;
      list-style: none;
      border-left: $cascader-optionList-border-left;
      &__item {
        position: relative;
        padding: $menu-item-padding-y $menu-item-padding-x;
        padding-right: $cascader-optionItem-padding-right;
        cursor: pointer;
        white-space: nowrap;
        border-radius: $border-radius;
        font-family: $btn-font-family;
        font-size: $btn-font-size;
        color: $input-color;
        @include dropdownItemStyle;

        &--selected {
          font-weight: $font-weight-bold;
          background: $primary;
          color: white;
        }

        &__iconBox {
          position: absolute;
          top: 0;
          right: 0;
          padding: $menu-item-padding-y 0;
          padding-right: $cascader-optionItem-icon-padding-right;
          &__icon {
            width: 8px;
          }
        }
      }
    }

    &__notFound {
      padding: $menu-item-padding-y $menu-item-padding-x;
      color: $gray-500;
    }
  }
}
