.violetButton {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: center;
  border-radius: 5px;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );
  box-shadow: $btn-box-shadow;
  cursor: pointer;
  transition: $btn-transition;
  &:active {
    opacity: 0.5;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
  }
  &--lg {
    @include button-size(
      $btn-padding-y-lg,
      $btn-padding-x-lg,
      $btn-font-size-lg,
      $btn-border-radius-lg
    );
  }
  &--sm {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $btn-border-radius-sm
    );
  }
  &--primary {
    @include button-style($primary, $primary, $white);
  }
  &--danger {
    @include button-style($danger, $danger, $white);
  }
  &--default {
    @include button-style(
      $white,
      $gray-400,
      $body-color,
      $white,
      $primary,
      $primary
    );
  }
  &--link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
    box-shadow: none;
  }
  &--dash {
    @include button-style(
      $white,
      $gray-400,
      $body-color,
      $white,
      $primary,
      $primary
    );
    border: dashed;
    border-width: 1.5px;
  }
}
