@mixin button-size($padding-x, $padding-y, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin button-type(
  $background,
  $border, 
  $color, 
  $hover-background: lighten($background, 7.5%), 
  $hover-border: lighten($border, 10%),
  $hover-color: $color
  ) {
  background: $background;
  border-color: $border;
  color: $color;
  &:hover,
  &:focus,
  &.focus {
    background: $hover-background;
    border-color: $hover-border;
    color: $hover-color;
  }
  &.disabled,
  &[disabled] {
    background: $background;
    border-color: $border;
    color: $color;
  }
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  @include button-size(0.75rem, 0.375rem, 1rem, 0.25rem);
  font-weight: 400;
  line-height: 1.5;
  color: #8b00ff;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  box-shadow: inset 0 1px 0 rgba(#fff, 0.15), 0 1px 1px rgba(#000, 0.075);
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  // 去除默认的选中黑边框
  outline: none;
  // 给disabled的按钮增加样式
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn--lg {
  @include button-size(0.5rem, 1rem, 1.25rem, 0.3rem);
}

.btn--sm {
  @include button-size(0.25rem, 0.5rem, 0.875rem, 0.2rem);
}

.btn--primary {
  @include button-type(#8b00ff, #8b00ff, #fff)
}

.btn--danger {
  @include button-type(red, red, #fff)
}

.btn--default {
  @include button-type(#fff, #ced4da , black, #fff, #8b00ff, #8b00ff)
}

.btn--link {
  text-decoration: none;
  box-shadow: none;
  &:hover {
    color: darken(#8b00ff, 15%);
    text-decoration: underline;
  }
  &:focus,
  &.focus {
    text-decoration: underline;
  }
  &.disabled,
  &[disavbled] {
    color: #6c757d;
    pointer-events: none;
  }
}