.violetForm {
  .violetFormRow {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &.violetRow--no__label {
      flex-direction: row-reverse;
    }
    .violetForm--item__label {
      flex-basis: 30%;
      text-align: right;
      padding-right: 20px;
      > label {
        margin-bottom: 0;
      }
      >label.violetForm--item__required:before {
        display: inline-block;
        margin-right: 4px;
        color: $danger;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
      }
      .violetForm--item { 
        flex-basis: 70%;
        position: relative;
        .input-wrapper {
          margin-bottom: 0;
        }
        .violetForm--item__has__error.violetForm--item__control {
          .input-inner {
            border: 1px solid $danger;
            &:focus {
              box-shadow: $input-focus-box-shadow-error;
            }
          }  
        }
        .violetForm--item__explain {
          position: absolute;
          bottom: -25px;
          left: 0;
          line-height: 25px;
          color: $danger;
          min-width: 100px;
        }
      }
    }
    .violetForm--item {
      flex-basis: 70%;
      position: relative;
      .input-wrapper {
        margin-bottom: 0;
      }
      .violetForm--item__has__error.violetForm--item__control {
        .input-inner {
          border: 1px solid $danger;
          &:focus {
            box-shadow: $input-focus-box-shadow-error;
          }
        }
      }
      .violetForm--item__explain {
        position: absolute;
        bottom: -25px;
        left: 0;
        line-height: 25px;
        color: $danger;
        min-width: 100px;
      }
    }
  }
  .violetForm--submit_area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link-line {
  width: 10px;
  height: 20%;
  border-right: solid #ACC0D8 1px;
}
