ul {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  background: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 300px;
  li {
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #212529;
    cursor: pointer;
  }
}
