.violetMenu__subMenu {
  position: relative;
  &--active {
    color: $menu-item-active-color;
    border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
  }

  &__dropDownList {
    position: absolute;
    list-style: none;
    left: 0;
    padding: 0;
    color: #000;
    box-shadow: $submenu-box-shadow;
    background: $menu-backgroundColor;

    &__li {
      width: max-content;
      padding: $menu-item-padding-y $menu-item-padding-x;
      transition: $menu-item-transition;
      &:active {
        color: $menu-item-mouseDown-color;
      }
    }
  }
}

.violetMenu--vertical {
  .violetMenu__subMenu {
    &--active {
      border-bottom: 0;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }

    &__dropDownList {
      position: static;
      list-style: none;
      top: 50px;
      left: 0;
      padding: 0;
      color: #000;
      box-shadow: 0 0;

      &__li {
        width: max-content;
        border-left: 0;
        padding: $menu-item-padding-y $menu-item-padding-x;
        transition: $menu-item-transition;
        &:active {
          color: $menu-item-mouseDown-color;
        }
      }
    }
  }
}
