.violetMenu__subMenu {
  position: relative;
  &--active {
    color: #8b00ff;
    border-bottom: 3px solid #8b00ff;
  }
  &--show > &__dropDownList {
    display: block;
  }

  &__dropDownList {
    display: none;
    position: absolute;
    list-style: none;
    top: 38px;
    left: 0;
    padding: 0;
    color: #000;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.2);

    &__li {
      width: max-content;
      padding: 10px 20px;
      transition: all 100ms ease-out;
      &:hover {
        color: #8b00ff;
      }
    }
  }
}

.violetMenu--vertical {
  .violetMenu__subMenu {
    &--active {
      border-bottom: 0;
      border-left: 3px solid #8b00ff;
    }

    &__dropDownList {
      position: static;
      list-style: none;
      top: 50px;
      left: 0;
      padding: 0;
      color: #000;
      box-shadow: 0 0;

      &__li {
        width: max-content;
        border-left: 0;
        padding: 10px 20px;
        transition: all 100ms ease-out;
        &:hover {
          color: #8b00ff;
        }
      }
    }
  }
}
