@mixin button-size($padding-x, $padding-y, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border: $border-raduis;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background:lighten($background, 7.5%),
  $hover-border:lighten($background, 10%),
  $hover-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
}
  &:focus,
  &:focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
}
&:disabled,
&:disabled {
  color: $color;
  background: $background;
  border-color: $border;
}

}