$grid-columns: 24;

.row {
  display: flex;
}

@for $index from 1 to 24 {
  .col-#{$index} {
    flex: 0 0 percentage($number: $index / $grid-columns);
  }
}

@for $index from 1 to 24 {
  .col-offset-#{$index} {
    margin-left: percentage($number: $index / $grid-columns);
  }
}
.col {
  box-sizing: border-box;
}
