@import './styles/index.scss';

.App {
  height: 200vh;
  &__title {
    text-align: center;
    color: $primary;
    text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);
  }
}

.affix {
  z-index: 10;
}
