@import './styles/index.scss';

.App {
  padding-left: 10px;
  background: rgb(190, 183, 183);
  &__title {
    text-align: center;
    color: $primary;
    text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.3);
  }
}

.my-btn {
  background: burlywood;
}
